@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body,.main-container,.module-container{
    scroll-behavior: smooth;
}

li{
    list-style: none;
    transition: all 0.5s;
    align-items: center;
    z-index: 10;
    font-weight: bold;
    color: white;
}

ul li:hover{
    transform: scale(1.1);
    /*border: 2px solid white;
    background-color: white;*/
    color: white;
}

a{
   text-decoration: none; 
   text-transform: uppercase;
}

ul li a p{
	color: white;
}

a:visited{
    color: inherit;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    color: rgb(44, 3, 121);
}

p{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: rgb(44, 3, 121);
}

.btn{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 30px;
    border: 1.5px solid rgb(44, 3, 121);
    border-radius: 5px;
    letter-spacing: 5px;
    color: rgb(44, 3, 121);
    background-color: white;
    font-weight: 1000;
    font-size: 1em;
    transition: all 0.5s;
    text-transform: uppercase;
}

.btn:hover{
    transform: scale(1.1);
    color: #f4f4f4;
    background-color: rgb(44, 3, 121);
}

.Module-icon{
    font-size: 2300%;
    margin-right: 20px;
    color: rgb(44, 3, 121);
    padding-bottom: 100px
}

.main-container{
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
}

.main-container:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.1); */
}

.main-nav{
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(44, 3, 121);
    align-items: center;
    justify-content: space-between;
    padding: 2em 4em;
    z-index: 10;
}

.main-nav .ul-first{
    position: fixed;
    display: flex;
    /*top: 0.5em;*/
    left: 4em
}

.main-nav .ul-first li{
    border-radius: 3px;
    padding-bottom: 10px;
    
}

.main-nav .ul-first li a span.bi-person-circle{
    font-size: 200%;
}

.ul-first a{
	display: inline-block;
}

.ul-first a p{
	display: inline;
}

.main-nav .ul-second {
    position: fixed;
    display: flex;
    top: 1em;
    right: 4em;
}

.main-nav .ul-second li{
    margin-left: 1em;
    padding: 2px;
    border-radius: 2px;
    font-size: 1.2em;
}


.module-container{
    width: 500vw;
    display: flex;
    flex-direction: row;
}

.module-container .Module{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
}

.content{
    margin-top: 70px;
    margin-right: 60px;
    text-align: left;
    z-index: 10;
}

.accordion-container{
    width: 100%;
    margin: 0 auto;
    
}

.accordion{
    margin-bottom: 0.5em;
    transition: .5s all;
    border: 2px solid rgb(44, 3, 121);
    border-radius: 5px;
    background-color: rgb(44, 3, 121);
}

.accordion section{
    background-color: white;
    padding: 0 1em;
}

.accordion:hover{
    transform:scale(1.05);
}

.accordion .accordion-input{
    position: absolute;
    opacity: 0;
    display: none;
}

.accordion-label-button-container{
    display: flex;
    align-items: center;
    height: 2.2em;
}

.accordion-label-container{
    /* position: relative; */
    /* display: block; */
    font-size: large;
    font-weight: 900;
    /* background-color: rgb(44, 3, 121);*/
    color: white;
    /* width: 80%; */
    padding: 0.1em 1em;
    flex: 60%;
}

.accordion-button-container{
    margin-right: 0.5em;
}

.run-query-button{
    /* height: 100%; */
    font-size: 1em;
    padding: 0.15em;
    text-transform: uppercase;
    background-color: rgb(44, 3, 121);
    color: white;
    border: none;
    border-color: rgb(44, 3, 121);
    border-radius: 2px;
    font-weight: 900;
    transition: all 0.5s;
} 

.run-query-button:hover{
	cursor: pointer;
    transform:scale(1.1);
}

.accordion-label-container label:hover{
    cursor: pointer;
}

.accordion section{
    height: 0;
    transition: .5s all;
    overflow: hidden;
    text-align: justify;
}

.accordion-label-button-container::after {
    content: '\f078';
    top: 15%;
    right: 1%;
    font-family: fontawesome;
    color: white;
    transform: rotate(-90deg);
    transition: .5s transform;
    margin-right: 0.5em;
}

.accordion .accordion-input:checked ~ .accordion-label-button-container:after{
    transform: rotate(0deg);
}

.accordion .accordion-input:checked ~ section{
    height: 100px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.3);
}

.modal-box{
    background-color: rgb(44, 3, 121);
    border: 2.5px solid rgb(44, 3, 121);
    border-radius: 4px;
    margin: 7.5% auto;
    margin-top: 2%;
    width: 30%;
    text-align: center;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2);
    animation-name: open-modal;
    animation-duration: 0.5s;
}

.dataTable-modal-box{
    background-color: rgb(44, 3, 121);
    border: 2.5px solid rgb(44, 3, 121);
    border-radius: 4px;
    margin: 7.5% auto;
    margin-top: 1%;
    width: 65%;
    max-height: 75%;
    text-align: center;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2);
    animation-name: open-modal;
    animation-duration: 0.5s;
}

.graph-modal-box{
    background-color: rgb(44, 3, 121);
    border: 2.5px solid rgb(44, 3, 121);
    border-radius: 4px;
    margin: 7.5% auto;
    margin-top: 1%;
    width: 65%;
    max-height: 90%;
    text-align: center;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2);
    animation-name: open-modal;
    animation-duration: 0.5s;
}

.dataTable-modal-box .modal-content div{
	padding: 5px;
}

.count-modal-box{
    background-color: rgb(44, 3, 121);
    border: 2.5px solid rgb(44, 3, 121);
    border-radius: 4px;
    margin: 7.5% auto;
    margin-top: 10%;
    width: 50%;
    max-height: 75%;
    text-align: center;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2);
    animation-name: open-modal;
    animation-duration: 0.5s;
}

.notification-modal-box{
	background-color: rgb(44, 3, 121);
    border: 2.5px solid rgb(44, 3, 121);
    border-radius: 4px;
	position: fixed;
	width: 25%;
	right: -25%;
	bottom: 40px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2);
}

.modal-header{
    color: #f4f4f4;
    background-color: rgb(44, 3, 121);
    padding: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.modal-content {
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 1.2em;
}

.modal-content div{
    padding: 0.8em;
}

.modal-content div p{
	font-size: 15px;
	text-align: center;
	margin-top: 0px;
}

.modal-inputs{
    width: 80%;
    font-size: 1em;
    padding: 2px;
    border-radius: 2px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
    background-color: white;
    text-align: center;
}

.status{
	font-weight: bold;
}

.modal-footer{
    background-color: #f4f4f4;
    padding: 15px;
    justify-content: space-evenly;
    border-top: 1px solid rgb(189, 189, 189);
}

.modal-footer .btn {
	margin-top: 0px;
	margin-left: 8px;
	margin-right: 8px;
}

.closeButton{
    color: white;
    float: right;
    font-size: 27px;
    transition: all 0.5s;
}

.closeButton:hover, .closeButton:focus{
    transform: scale(1.3);
    text-decoration: none;
    cursor: pointer;
}

::-webkit-scrollbar{
    display: none;
}

@keyframes open-modal {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.chartBox{
	width: 90%;
	height: 90%;
}

.graph-drill-down-button{
    /* height: 100%; */
    font-size: 0.65em;
    padding: 0.15em;
    text-transform: uppercase;
    background-color: rgb(44, 3, 121);
    color: white;
    border: none;
    border-color: rgb(44, 3, 121);
    border-radius: 2px;
    font-weight: 900;
    transition: all 0.5s;
}

.autofill-wrapper .autofill-box {
	padding: 0;
	max-height: 100px;
	overflow-y: auto;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	background: #fff;
}

.autofill-wrapper.active .autofill-box {
	padding: 10px 8px;
	opacity: 1;
	pointer-events: auto;
	margin-top: -3px
}

.autofill-wrapper.active .autofill-box li {
	display: block;
	position: relative;
	width: 100%;
	font-size: 0.8em;
}

.autofill-box {
	text-align: center;
	margin-left: 39.48px;
	width: 326.05px;
	border-radius: 2px;
	border: solid;
	border-top-style: hidden;
	border-color: black;
	border-width: 2px;
}

.autofill-box li{
    transition: none;
    align-items: center;
    z-index: auto;
    font-weight: auto;
    color: black;
    list-style: none;
    padding: 2px 2px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}

.autofill-box li:hover {
    background: #efefef;
}